<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.first_name.titlecase %></h1>
    <p>
      Email: <%= @user.email %>
    </p>
    <p>
      Here is your Password<br/>
      <%= @user.password %>
    </p>
    <p>
      You can change your Password by clicking <%= link_to "here", new_user_password_path %>.
    </p>
    <p>Thank you, have a Good Day ahead.!</p>
  </body>
</html>
