<% provide :title, "Listing News" %>
<section class="panel">
  <header class="panel-heading">Reports</header>
  <div class="panel-body">
    <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td><%= link_to 'News', admins_news_index_path(format: :csv), class: 'btn btn-default', rel: "tooltip", title: 'All News Report' %></td>
          <td><%= link_to 'Surveys', admins_surveys_path(format: :csv), class: 'btn btn-default', rel: "tooltip", title: 'All Surveys Report' %></td>
          <td><%= link_to 'User', admins_users_path(format: :csv), class: 'btn btn-default', rel: "tooltip", title: 'All Users Report' %></td>
        </tr>
      </tbody>
    </table>
  </div>
    <br/>
  </div>
</section>
