/*
*= require core/bootstrap.min
*= require font-awesome
*= require core/themify-icons.css
*= require core/animate.min.css
*= require templates/palette.css
*= require templates/font.css
*= require templates/main.css
*  require pwdcalc
*= require_self
*/
@charset "utf-8";

.text-center{
	display: block;
	text-align: center;
	padding: 12px;
	font-style: oblique;
}
